@import "@stephane888/wbu-atomique/scss/bootstrap_init.scss";
@import "bootstrap-vue/src/_variables.scss";
$btn-font-size: 1.4rem;
$b-custom-control-indicator-size-lg: 2rem;
@import 'bootstrap/scss/_buttons.scss';
@import 'bootstrap-vue/src/components/form-radio/_form-radio.scss';

.btn {
  &:hover {
    color: #353535;

    &.btn-outline-primary {
      color: #FFF;
    }

    &.btn-outline-success {
      color: #FFF;
    }
  }
}