@use "wbu-atomique/scss/bootstrap_init.scss" as *; //$font-size-base               : 2rem;
$custom-control-indicator-size: 2rem;
$custom-select-font-size      : 1.6rem; //
@import 'bootstrap/scss/_custom-forms.scss';