@use "wbu-atomique/scss/defaut/model/custom_bp.scss" as *;
@use "./variables.scss" as *;

.choice-section {
  max-width    : 380px;
  @include media-min('MD') {
    max-width: 480px;
  }
  margin-top   : 0;
  width        : 100%;
  margin-left  : auto;
  margin-right : auto;
  position     : relative;
  margin-bottom: 4rem;

  .input-list {
    display      : flex;
    align-items  : center;
    padding      : 10px 0;
    border-bottom: 1px solid #94909052;
    border-top   : 1px solid #94909052;

    &__description {
      color      : #8a8a8a;
      font-size  : 0.8em;
      margin-top : 10px;
      font-style : italic;
      font-weight: 300;
    }

    &__label {
      text-align     : left;
      // margin-left: -12px;
      padding        : 10px 0;
      margin-bottom  : 0;
      font-size      : 1em;
      font-family    : Ubuntu, sans-serif;
      font-weight    : 400;
      width          : 100%;
      height         : 100%;
      display        : flex;
      align-items    : center;
      justify-content: space-between;

      label {
        cursor: pointer;
      }
    }

    &__input {
      text-align : right;
      margin-left: 6px;
    }
  }

  .input-label {
    border-top   : 1px solid #80808012;
    border-bottom: 1px solid #88828212;
    font-weight  : 300;
    padding      : 10px 0;
    margin       : 0;
  }

  .autocomplete {
    max-width : 500px;
    margin-top: 0.9rem;

    .multiselect__tags {
      min-height   : 50px;
      padding      : 1.4rem;
      border-radius: 2px;
      border       : 1px solid $primary_color;

      .multiselect__input,
      .multiselect__placeholder,
      .multiselect__single {
        margin-bottom: 0;
      }
    }

    .multiselect__option--highlight {
      background: $primary_color;
      outline   : none;
      color     : #fff;
    }
  }
}