@use "wbu-atomique/scss/atome/typography/_default.scss";
@use '@braid/vue-formulate/themes/snow/snow.scss';
@use './variables.scss' as *; //@use './field.scss'; //

.super-hover {
  z-index: 99999;
}

.p-relative {
  position: relative;
}

.app-form {
  font-size     : 1.8rem;
  padding-top   : 5rem;
  padding-bottom: 5rem;
  min-height    : 300px;

  table {
    .th-action {
      width: 170px;
    }
  }
  //
  @import "./buttons.scss";
  @import "./custom-control.scss";
  @import './field.scss';

  .label {
    color      : inherit;
    font-weight: inherit;
    font-size  : inherit;
  }

  .boutton-absolute {
    position        : absolute;
    left            : 0;
    top             : 0;
    right           : auto;
    border          : 1px solid #dee2e6;
    background-color: #f8f9fa;
    display         : flex;

    .btn {
      border-radius: 0;
      border       : none;
      background   : transparent !important;

      &:hover {
        color: #000;
      }
    }
  }

  td {
    .boutton-absolute {
      border-bottom: 0;
    }
  }

  .full-block {
    .boutton-absolute {
      left: calc(100% + 30px);
    }
  }

  .min-height {
    min-height: 50px;
  }
  //animation transition fade
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.2s;
  }
  /* .fade-leave-active below version 2.1.8 */
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  // StepsPage.vue
  .full-block {
    height          : auto;
    background-color: #FFF;
    padding-top     : 1rem;
    padding-bottom  : 1rem;
  }

  hr {
    margin-bottom: $margin-bouton;
  }
}