.simple-champ {
  display: flex;

  .label-title {
    width      : 50%;
    background : #f5f5f5;
    padding    : 5px;
    border     : 1px solid #dedcdc;
    margin     : 1px 0;
    //width: 100%;
    flex       : auto;
    display    : flex;
    align-items: center;
  }

  .content-field {
    width    : 100%;
    max-width: 100%;
  }

  &.markuptitle {
    .label-title {
      font-weight: 600;
      font-size  : 110%;
    }
  }

  &.userlogin {
    li {
      .label {
        width: 35%;
      }

      .value {
        width: 65%;
      }
    }
  }
}